<p>
  ports works!
</p>

<div id="splash"
		style="position:absolute;top:0px;left:0px;width:100%;height:100%;background:white;z-index:1;"
		layout-align="center center" id="splash" style="padding-top:230px;">
			<img src="assets/loading.gif">
		
</div> 

<div id='container1'
    style="position:absolute;overflow:hidden;top:36px;left:60px;bottom:36px;right:0px;
    background-image:url('./assets/grid.gif');cursor:default;">
	</div>

<div id='outline1'
    style="position:absolute;overflow:hidden;top:36px;right:0px;width:200px;height:140px;
    background:transparent;border-style:solid;border-color:black;">
	</div>
		
<div id='toolbar1'
    style="position:absolute;white-space:nowrap;overflow:hidden;top:0px;left:0px;
    max-height:24px;height:36px;right:0px;padding:6px;background-image:url('./assets/toolbar_bg.gif');">
</div>


<div id='sidebar1'
  style="position:absolute;overflow:hidden;top:36px;left:0px;bottom:36px;max-width:52px;width:56px;
  padding-top:10px;padding-left:4px;background-image:url('./assets/sidebar_bg.gif');">
</div>

<div id='status1'
   style="text-align:right;position:absolute;overflow:hidden;bottom:0px;left:0px;max-height:24px;
    height:36px;right:0px;color:white;padding:6px;background-image:url('./assets/toolbar_bg.gif');">
    
    <div style="font-size:10pt;float:left;">
			Created with <a href="http://www.jgraph.com" target="_blank">mxGraph</a>
		</div>
	</div>

<div id='editorcontainer'></div>
<div id='toolbar1'></div>
<div id='action1'></div>
<div id='label1'></div>
<div id='image1'></div>
<div id='isTransparent1'></div>

<div id='graph1'></div>
<div id='title1'></div>
<div id='content1'></div>
<div id='width1'></div>
<div id='height1'></div>

<div id='graphcontainer1'></div>
<div id='sider1'></div>
<div id='label1'></div>
<div id='image1'></div>

<div id='graphcontainer'></div>

 

<!-- 
<div id='splash'
		style="position:absolute;top:0px;left:0px;width:100%;height:100%;background:white;z-index:1;"
		  id="splash" style="padding-top:230px;">
			<img src="assets/loading.gif">
</div>
 -->
	
